@font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/dm-sans-v15-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/dm-sans-v15-latin-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/dm-sans-v15-latin-700.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
}
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
body {
    font-family: "DM Sans", sans-serif;
    /* font-family: "Rubik", sans-serif; */
    background-color: #f8f9fe;
}


